<section>
  <h1>About Me</h1>
  <img class="profile-picture" src="/images/flaviu_profile.jpg" alt="Flaviu Simihaian" title="Flaviu Simihaian" />
  <p class="about-text">I’m <a href="{{ site.author-url }}">Flaviu</a>
  (flah-vee-yoo), CEO of <a href="http://iMedicare.com">iMedicare</a>. I'm a Romanian
  entrepreneur, developer, and angel investor. <a href="mailto:flaviu+website@closedbracket.com?subject=Inquiry&body=Hi Flaviu">Email</a> me if you have an interesting project you're working on.</p>
</section>
