<section>
<h1>Read'n'Code Podcast</h1>
<p>
<a class="itunes-link" href="http://www.itunes.com/podcast?id=417634898" alt="Read'n'Code Podcast - Literature and Computer Programming">
<img class="no-box" src="/images/itunes.png" alt="Read'n'Code Podcast - Literature and Computer Programing" />
</a>
<a href="http://hackerpublicradio.org/series.php?id=44" alt="Read'n'Code on Hacker Public Radio">
<img class="no-box" src="/images/hpr.png" alt="Read'n'Code on Hacker Public Radio" />
</a>
</p>
<p>We're in <a href="http://www.itunes.com/podcast?id=417634898">iTunes</a> and on <a href="http://hackerpublicradio.org/series.php?id=44">HPR</a>.</p>
</section>

